click
colorama
Flask
itsdangerous
Jinja2
MarkupSafe
Werkzeug
pyrebase
requests
gcloud
oauth2client
requests-toolbelt
python-jwt
pycrypto
pycryptodome
Click
Flask
gcloud
googleapis-common-protos
httplib2
itsdangerous
Jinja2
jws
MarkupSafe
oauth2client
protobuf
pyasn1
pyasn1-modules
pycryptodome
Pyrebase
Pyrebase4
python-dotenv
python-jwt
requests
requests-toolbelt
rsa
six
Werkzeug
#yaml
flask_mysqldb
PyYAML
