{% extends 'admin/admin-layout.html' %}

{% block content %}

<h1> Applications </h1>




<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Application of the job
    </div>
    <div class="card-body">
        <table id="application-table">
            <thead>
                <tr>
                    <th>Candidate id</th>
                    <th>Name</th>
                    <th>Resume</th>
                    <th>Years of experience</th>
                    <th>Date</th>
                </tr>
            </thead>
            
            <tbody>
                
                {%for application in applications%} 

                <tr>
                    <th>{{ application.candidate_id }}</th>
                    <th>{{ application.name }}</th>
                    <th> <a href="{{application.resume}}" target="_blank"  > Open Resume </a></th>
                    <th>{{ application.experience }} years</th>
                    <th>{{ application.created_at }}</th>
                </tr>

                {%endfor%} 

            </tbody>

            <tfoot>
                <tr>
                    <th>Candidate id</th>
                    <th>Name</th>
                    <th>Resume</th>
                    <th>Years of experience</th>
                    <th>Date of application</th>
                </tr>
            </tfoot>


        </table>
    </div>
</div>



<script>

    window.addEventListener('DOMContentLoaded', event => {
        // Simple-DataTables
        // https://github.com/fiduswriter/Simple-DataTables/wiki

        const datatablesSimple = document.getElementById('application-table');
        if (datatablesSimple) {
            new simpleDatatables.DataTable(datatablesSimple);
        }
    });

</script> 
{% endblock %}