{% extends 'admin/admin-layout.html' %}

{% block content %}

<h1> List of Job </h1>


<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable Example
    </div>
    <div class="card-body">
        <table id="jobs-table">
            <thead>
                <tr>
                    <th>Job ID</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Company ID</th>
                    <th>Availability</th>
                    <th>Action</th>
                </tr>
            </thead>
           
            <tbody>
                
                <!-- modified to use for loop to display data from sql database-->
                {% for row in job %}
                <tr>
                    <td>{{row.id}}</td>
                    <td>{{row.title}}</td>
                    <td>{{row.location}}</td>
                    <td>{{row.company_id}}</td>
                    <td>{{row.jobtype}}</td>
                    <td> <a href="/admin/applications/{{row.id}}"> Check application</a></td>
                </tr>
                {% endfor %}

                

            </tbody>

            <tfoot>
                <tr>
                    <th>Job ID</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Company ID</th>
                    <th>Availability</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>





<script>

    window.addEventListener('DOMContentLoaded', event => {
        // Simple-DataTables
        // https://github.com/fiduswriter/Simple-DataTables/wiki

        const datatablesSimple = document.getElementById('jobs-table');
        if (datatablesSimple) {
            new simpleDatatables.DataTable(datatablesSimple);
        }
    });

</script> 


{% endblock %}
