{% extends 'admin/admin-layout.html' %}

{% block content %}

<h1> List of Job </h1>


<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable Example
    </div>
    <div class="card-body">
        <table id="jobs-table">
            <thead>
                <tr>
                    <th>Job ID</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Company ID</th>
                    <th>Availability</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Job ID</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Company ID</th>
                    <th>Availability</th>
                </tr>
            </tfoot>
            <tbody>
                
                <!-- modified to use for loop to display data from sql database-->
                {% for row in job %}
                <tr>
                    <td>{{row.0}}</td>
                    <td>{{row.1}}</td>
                    <td>{{row.5}}</td>
                    <td>{{row.3}}</td>
                    <td>{{row.6}}</td>
                </tr>
                {% endfor %}

                <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                </tr>

                <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>63</td>
                    <td>2011/07/25</td>
                    <td>$170,750</td>
                </tr>
                <tr>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td>2009/01/12</td>
                    <td>$86,000</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>





<script>

    window.addEventListener('DOMContentLoaded', event => {
        // Simple-DataTables
        // https://github.com/fiduswriter/Simple-DataTables/wiki

        const datatablesSimple = document.getElementById('jobs-table');
        if (datatablesSimple) {
            new simpleDatatables.DataTable(datatablesSimple);
        }
    });

</script> 


{% endblock %}
