<head>
    <link rel="stylesheet" href="static/style.css">
    <img src="/static/images/ignition logo.png" alt="ignition logo"style="width:300px;height:150px;">
</head>

<nav>
    <a href="/">Home</a>
    <a href="/event">Event</a>
    <a href="/alerts">Alerts</a>
    <a href="/jobs">jobs</a>
    <a href="/profile">Profile</a>
    <a href="/login">Log Out</a>
    
    <div class="animation start-home"></div>
</nav>
{% extends '/admin-layout.html' %}
{% block content %}

<h1> Events Page </h1>
<p>Hi, this is Project: Job Board Application  
Optionally with an Application Tracking System and Human Resources functionalities. </p>

{% endblock %}
