{% extends 'base.html' %}

{% block content %}

<h1> <p style="margin: 5px; line-height: 0; text-align:center;color:rgba(0, 0, 0, 0.833);"> FAQ Page </h1>

<p>
    <div class="text-center">
  </div>
  <section class="container my-5" id="maincontent">
    <section id="accordion">
      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-17" aria-expanded="false" data-toggle="collapse" href="#faq-17" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3"> <p style="color:rgb(69, 38, 248);">
            Is it free to post a job on Ignition?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-17">
        <div class="card card-body border-0 p-0">
          <p> All jobs on Ignition can be posted for free</p>

        </div>
      </div>

      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-18" aria-expanded="false" data-toggle="collapse" href="#faq-18" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3"> <p style="color:rgb(69, 38, 248);">
            What information is saved in a job template?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-18">
        <div class="card card-body border-0 p-0">
          <p>The details of the job ad</p>
          <p>
          </p>
        </div>
      </div>

      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-19" aria-expanded="false" data-toggle="collapse" href="#faq-19" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3"> <p style="color:rgb(69, 38, 248);">
            How do I edit a job template?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-19">
        <div class="card card-body border-0 p-0">
          <p>After a saving a job as a job template, all edits and updates needed should be done directly on the job that was saved as a job template.</p>
          <p>
          </p>
        </div>
      </div>

      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-20" aria-expanded="false" data-toggle="collapse" href="#faq-20" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3;"> <p style="color:rgb(69, 38, 248);">
            What can I do to help my job posting become visible on Ignition?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-20">
        <div class="card card-body border-0 p-0">
          <p>In order to provide the best possible job search experience for job seekers, Indeed verifies basic details about a company before advertising its jobs.  
            A physical location (even for work-from-home roles) and a working phone number, for example, are important details that help us provide verifiable opportunities to candidates. </p>
          <p>
          </p>
        </div>
      </div>

      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-21" aria-expanded="false" data-toggle="collapse" href="#faq-21" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3"> <p style="color:rgb(69, 38, 248);">
            Where can I read more about this company?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-21">
        <div class="card card-body border-0 p-0">
          <p>In our About page</p>
          <p>
          </p>
        </div>
      </div>

      <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-22" aria-expanded="false" data-toggle="collapse" href="#faq-22" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3"> <p style="color:rgb(69, 38, 248);">
            How does Indeed help me with my hiring after I have posted my job?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-22">
        <div class="card card-body border-0 p-0">
          <p>When creating your job post, you can specify questions to help you screen applicants.* Ask candidates about experience, certifications, or other job requirements when they submit their application. 

            You can also filter applicants based on specific skills, education, experience, and more. Your dashboard also allows you to hide unqualified candidates automatically. </p>
          <p>
          </p>
        </div>
      </div>
    </section>
  </section>
</p>

<script>
  //document.getElementById("nav-link-faq").classList.add("select-nav-menu");
</script>
{% endblock %}
