<link rel="stylesheet" href="static/style.css">
  <img src="/static/images/ignition logo.png" alt="ignition logo"style="width:300px;height:150px;">
</head>
{% extends "baselog.html" %}

{% block content %}


    <br/>
      <div class="jumbotron">
        <h1 class="display-4">Forgot Password</h1>
        <hr class="my-4">
        {% if smessage %}
          <div class="alert alert-success">
            {{ smessage }}
          </div>
        {% endif %}
        {% if umessage %}
          <div class="alert alert-danger">
            {{ umessage }}
          </div>
        {% endif %}
        <form action="/forgotpassword" method="post">
            <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="name"  placeholder="Enter email">
            </div>
            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
        </form
     

{% endblock %}