<link rel="stylesheet" href="static/cards.css">
{% extends 'base.html' %}

{% block content %}


<h1> home Page </h1>
<p>Hi, this is Project: Job Board Application  
Optionally with an Application Tracking System and Human Resources functionalities. </p>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="card">
      <img src="https://i.postimg.cc/1X8R7m8y/design.png"/>
      <div class="card__content">
        <h2>Web Design</h2>
        <p>
           Lorem Ipsum has been the industry's standard dummy text ever          since the 1500s.
        </p>
        <a href="#">Read More</a>
      </div>
    </div>
    <div class="card">
      <img src="https://i.postimg.cc/d1Ht9ktW/develop.jpg"/>
      <div class="card__content">
        <h2>Web Development</h2>
        <p>
           Lorem Ipsum has been the industry's standard dummy text ever          since the 1500s.
        </p>
        <a href="#">Read More</a>
      </div>
    </div>
    <div class="card">
      <img src="https://i.postimg.cc/xCT1HyYJ/develop2.jpg"/>
      <div class="card__content">
        <h2>Mobile Apps</h2>
        <p>
           Lorem Ipsum has been the industry's standard dummy text ever          since the 1500s.
        </p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
{% endblock %}
