{% extends 'base.html' %}

{% block content %}

<h1>  
    <p style="margin: 5px; line-height: 0; text-align:center;color:rgba(0, 0, 0, 0.833);"> 
    Find The Job And Candidates That Fits For You
    </p>
</h1>

<p> 
    <p style="margin: 5px;font-size:26px; line-height: 3.5; text-align:center;color:rgb(69, 38, 248);"> 
Project Ignition: A Job Board Application Optionally with an Application Tracking System and Human Resources functionalities

    <p style="text-align:center;position: absolute;top: 260px; left: 30px;">
<img src="/static/images/jobposting.jpeg" alt="collage for home page" style="width:380px;height:400px;">

    <p style="text-align:center;position: absolute;top: 260px; left: 470px;">
<img src="/static/images/resume.png" alt="collage for home page" style="width:380px;height:400px;"> 
    
    <p style="text-align:center;position: absolute;top: 260px; left: 900px;">
<img src="/static/images/jobposting2.jpeg" alt="collage for home page" style="width:380px;height:400px;">

</p>

  <br>
  <br>
  <br>
  <br>
  <br>
{% endblock %}
