
{% extends 'base.html' %}

{% block content %}

<h1>  
    <p style="margin: 5px; line-height: 0; text-align:center;"> 
    Find The Job And Candidates That Fits For You 
    </p>
</h1>
<p> 
    <p style="margin: 5px; line-height: 0; text-align:center;"> 
Project Ignition: A Job Board Application Optionally with an Application Tracking System and Human Resources functionalities



</p>

<p style="text-align:center;">
<img src="/static/images/newc.jpeg" alt="ignition logo" class="center" style="width:850px;height:550px;"> 
</p>
{% endblock %}
