{% extends 'front-layout.html' %}

{% block content %}

    <h1> Jobs Page </h1>

    <p> Hi, this is Project: Job Board Application  
    Optionally with an Application Tracking System and Human Resources functionalities. </p>

    {%for job in jobs%} 

        <div>

            <p> {{ job[0] }} </p>
            <p> {{ job[1] }} </p>        
            <p> <span> </span> : {{ job[2] }} </p>

            <a href="/job-descrption/{{ job[0] }}"> Description </a>
            <a href="/apply/{{ job[0] }}"> Apply </a>

        </div> 

    {%endfor%}


{% endblock %}